@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-once {
  0%, 100% { transform: scale(1.1); }
  50% { transform: scale(1.25); } /* Ele cresce mais um pouquinho e volta */
}

.animate-bounce-once {
  animation: bounce-once 0.6s ease-out forwards;
}

body {
  background-color: #111827; /* A cor do seu fundo (gray-950) */
  margin: 0;
  padding: 0;
  /* Isso garante que o fundo escuro preencha a área do notch */
  padding-top: env(safe-area-inset-top);
}

.seu-container-principal {
  /* Garante que o layout comece do topo real da tela */
  height: 100dvh; 
  padding-top: env(safe-area-inset-top);
  background-color: #111827;
}

/* Trava o scroll elástico no iOS/Safari */
html, body {
  /* Mata o efeito de "puxar" a tela que revela o fundo/barras do Safari */
  overscroll-behavior-y: none; 

}